body {
    font-size: 10px;
    margin: 0;
    font-family: Montserrat, 'Courier New';
    background-color: rgb(225, 208, 208);
}

header img {
    border-radius: 50%;
}

header h1 {
    color: rgb(0, 0, 0);
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    background: radial-gradient(circle, greenyellow 0%, cadetblue 100%);
}

nav {
    justify-content: space-between;
    background-color: rgb(137, 168, 51);
    display: flex;
    grid-area: nav;
}

section {
    padding-left: 10px;
}

section:not(:last-child) {
    border-bottom: 1px solid rgb(156, 154, 154);
}

.knowledge {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 50% 50%;
}

footer {
    background: linear-gradient(to top, cadetblue, rgb(137, 168, 51));
    min-height: 100px;
    text-align: end;
    padding: 20px 15px;
}

#Destrezas ul > li:before {
    content: "►";
    padding-right: 0.5em;
    color: cadetblue;
}

#Destrezas .languages ul > li:before {
    content: "►";
    padding-right: 0em;
}

#Destrezas ul {
    list-style: none;
}

h3 {
    color: cadetblue
}

h4 {
    color: rgb(113, 135, 51);
}